/Build/
/Binaries/
/Saved/
/Intermediate/

/Plugins/Developer/
/Plugins/**/Binaries/
/Plugins/**/Intermediate/

/ipch/
/DerivedDataCache/
.vs
*.suo
*.VC.VC.opendb
*.VC.db
*.sln
.idea
desktop.ini

/*.xcworkspace
logcat.txt

*.pdb
*.exe

/hooks
/lfs

/enc_temp_folder/**

/Content/**/_Local/**/*
/_ReSharper.Caches
.vsconfig
